body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

p {
    white-space: pre-wrap;
}

h1 + p {
    /* padding: 10px; */
    /* border: 1px solid #333333; */
    /* border-radius: 10px; */
    color: #5f5f5f;
    font-size: 12px;
    line-height: 2.1;
    text-overflow: ellipsis;
    overflow: hidden;
}

h1 + p a {
    padding: 2px 5px;
    border: #333333 1px solid;
    border-radius: 20px;
    text-decoration: none;
}

h1 + p a:hover {
    border: #535353 1px solid;
    background-color: #2b2b2b;
}

p a {
    text-decoration: underline;
}

p:has(img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

blockquote {
    padding: 5px 0px 5px 20px;
    border-left: 5px solid#ffffff;
    background-color: rgba(255, 255, 255, 0.2);
}

h1 {
    font-size: 40px;
    font-weight: bolder;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

hr {
    height:1px;
    margin: 10px 150px;
    background:#555555;
    border: 0;
}

table {
    border: 1px solid #ffffff;
    border-spacing: 0px;
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #ffffff;
}

tr, td, th {
    border: 1px solid #ffffff;
}

pre {
    padding: 15px;
    border-radius: 10px;
    background-color: #222222;
}

code:not(pre code) {
    padding: 3px;
    border-radius: 5px;
    color: rgb(87, 133, 250);
    font-size: smaller;
    background-color: #222222;
}

img {
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
}